<!--FOOTER -->
<section id="footer" class="green">
    <div class="container-fluid footer">
        <a target="_blank" href="https://www.linkedin.com/in/emily-chang-03/">LinkedIn</a>
        <a target="_blank" href="https://github.com/emchang03">Github</a>
        <p>© Emily Chang 2022</p>
    </div>
</section>



</body>
</html>