<!--FOOTER -->
<section id="footer" class="green">
    <div class="container-fluid footer">


        <div class="row">
            <div class="col-6 text-start"> <p>© Emily Chang 2022</p> </div>
            <div class="col-1"></div>
            <div class="col-3 footlink text-end">
                <div class=" button black-text" onclick="location.href='mailto:emchang43@gmail.com';">emchang43@gmail.com</div>
            </div>
            <div class="col-1 footlink text-end">
                <a class="black-text" target="_blank" href="https://www.linkedin.com/in/emily-chang-03/">LinkedIn</a>
            </div>
            <div class="col-1 footlink text-end">
                <a target="_blank" class="black-text" href="https://github.com/emchang03">Github</a>
            </div>
        </div>
 
        
    </div>
</section>



</body>
</html>