<%- include("header"); -%>
<section class="green" id="title">
<div class="container-fluid">
    <!-- TITLE -->
    <div class="intro">
        <h1 class="inline black-text">hi there, i'm  <h1 class="inline">emily</h1></h1>
        <p class="title-desc">I am a Computer Science and Applied Mathematics student at Vanderbilt University. <br> I have a passion for products and designs that improve the lives of those around me. </p> 
    </div>
    <a class="green-text" href="#work">check out my work <i class="fa-solid fa-arrow-down-long"></i></a>
</div>
</section>

<!-- WORK -->
<section class="white" id="work">
<div class="container-fluid">
<!--club next work-->
<div class="row work-row">
    <div class="col-lg-6">
        <div class="work-text">
            <h2 class="green-text">The Club NEXT App</h2>
            <p>Digitial Initiative Intern | Summer 2022</p>
            <div class="skill">firebase</div>
            <div class="skill">figma</div>
            <p class="work-desc">A event and resource management platform for the Boys and Girls Club of Middle Tennesee</p>
            <a class="green-text" href="/clubnext">view project <i class="fa-solid fa-arrow-right-long"></i></a>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="work-image pink">
            <img class="club-next-image" src="images/cncalendar.png" alt="iphone">
        </div>
    </div>
</div>

<!--personal website work-->
<div class="row work-row">
    <div class="col-lg-6">
        <div class="work-text">
            <h2 class="green-text">Personal Website</h2>
            <p>Personal Project | Summer 2022</p>
            <div class="skill">html</div>
            <div class="skill">css</div>
            <div class="skill">node.js</div>
            <div class="skill">express/ejs</div>
            <div class="skill">figma</div>
            <div class="skill">bootstrap 5</div>
            <p class="work-desc">Designed and coded with love, caffeine, and javascript</p>
            <a class="green-text" target="_blank" href="https://github.com/emchang03/portfolio">go to github <i class="fa-solid fa-arrow-right-long"></i></a>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="work-image peach">
            <img class="computer-image" src="images/pw.png" alt="">
        </div>
    </div>
</div>

<!--data structures work-->
<div class="row work-row">
    <div class="col-lg-6">
        <div class="work-text">
            <h2 class="green-text">Data Structures Projects</h2>
            <p>CS 2201 Student | Spring 2022</p>
            <div class="skill">c++</div>
            <div class="skill">clion</div>
            <div class="skill">data structures</div>
            <p class="work-desc">Due to honor code policies, these projects are stored in a private repository! If you are a recruiter or non-Vanderbilt student interested in exploring the code, feel free to shoot me a message.</p>
            <div class="button green-text" onclick="location.href='mailto:emchang43@gmail.com';">email me and request access! <i class="fa-solid fa-arrow-right-long"></i></div>

        </div>
    </div>
    <div class="col-lg-6">
        <div class="work-image orange">
            <img class="computer-image" src="images/datastructures.png" alt="">
        </div>
    </div>
</div>



<h2 class="green-text">Coming Soon...</h2>
<p> <a class="special-link"href="https://productspacevandy.notion.site/Product-Space-Vanderbilt-822ebdd10a174537865f40c0e4942c9a"> <u>Product Space</u></a> Capstone Project</p>

</div>
</section>

<%- include("footer"); -%>